<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index">Home</a></li>
                <li><a href="roles_overview">Role</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/*@thymesVar id="orders" type="java.util.List"*/-->
<!--/*@thymesVar id="order" type="inql.apbzd.shop.domain.Order"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Zamówienia</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(orders)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>Kupujący</th>
                                <th>Data złożenia</th>
                                <th>Data wysyłki</th>
                                <th>Stan płatności</th>
                                <th>Koszyk</th>
                                <th>Edytuj</th>
                                <th>Usuń</th>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Tasty Goodnees 1</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:remove="all">
                                <td>12333</td>
                                <td>Tasty Goodnees 2</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:each="order : ${orders}">
                                <td th:text="${(order.user.name+ ' '+order.user.surname)}">Tasty Goodnees 3</td>
                                <td th:text="${order.orderDate}">lol</td>
                                <td th:text="${order.shipDate != null} ? ${order.shipDate} : 'Nie podano'">lol</td>
                                <div th:switch="${order.isPaid}">
                                    <td th:case="${true}">Opłacono</td>
                                    <td th:case="${false}">Nie opłacono</td>
                                </div>
                                <td><a href="#" th:href="@{'/orders/'+${order.id}+'/cart'}">Pokaż koszyk</a> </td>
                                <td><a href="#" th:href="@{'/orders/'+${order.id}+'/update'}">Edytuj</a> </td>
                                <td><a href="#" th:href="@{'/orders/'+${order.id}+'/delete'}">Usuń</a> </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <a class="btn btn-default" href="#"
                       th:href="@{'/orders/new'}" role="button">Nowy</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>