<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Recipe Home</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
          th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}">

    <script src="/webjars/jquery/1.11.1/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Portfolio</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index">Home</a></li>
                <li><a href="roles_overview">Role</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>
<!--/*@thymesVar id="user" type="inql.apbzd.shop.commands.UserCommand"*/-->
<!--/*@thymesVar id="roles" type="java.util.List"*/-->
<!--/*@thymesVar id="selectedRole" type="inql.apbzd.shop.domain.Role"*/-->
<div class=inql.apbzd.shop.domain.Address"container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form th:object="${user}" th:action="@{/users/}" method="post">

                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
                    <p>Proszę wypełnij poniższe pola:</p>
                </div>

                <input type="hidden" th:field="*{id}"/>
                <div class="pannel-group">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Informacje o użytkowniku</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('login')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>Login:</label>
                                    <input type="text" class="form-control" th:field="*{login}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('login')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('login')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('password')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>Hasło:</label>
                                    <input type="password" class="form-control" th:field="*{password}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('password')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('name')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>Imię:</label>
                                    <input type="text" class="form-control" th:field="*{name}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('name')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('name')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('surname')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>Nazwisko:</label>
                                    <input type="text" class="form-control" th:field="*{surname}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('surname')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('surname')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('email')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>Adres email:</label>
                                    <input type="text" class="form-control" th:field="*{email}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('email')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('email')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <select id="role" th:field="*{role}">
                                        <option th:each="selectedRole : ${roles}"
                                                th:value="${selectedRole.id}"
                                                th:text="${selectedRole.name}">
                                            Options
                                        </option>
                                    </select>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <input type="hidden" th:field="*{addressId}"/>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h1 class="panel-title">Adres</h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                            <div class="col-md-12 form-group" th:class="${#fields.hasErrors('streetName')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                <label>streetName:</label>
                                <input type="text" class="form-control" th:field="*{streetName}" th:errorclass="has-error"/>
                                <span class="help-block" th:if="${#fields.hasErrors('streetName')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('streetName')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                            </div>
                                </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('hoNumber')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>hoNumber:</label>
                                    <input type="text" class="form-control" th:field="*{hoNumber}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('hoNumber')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('hoNumber')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('apaNumber')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>apaNumber:</label>
                                    <input type="text" class="form-control" th:field="*{apaNumber}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('apaNumber')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('apaNumber')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('postalCode')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>postalCode:</label>
                                    <input type="text" class="form-control" th:field="*{postalCode}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('postalCode')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('postalCode')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group" th:class="${#fields.hasErrors('city')}
                                ? 'col-md-12 form-group has-error' : 'col-md-12 form-group'">
                                    <label>city:</label>
                                    <input type="text" class="form-control" th:field="*{city}" th:errorclass="has-error"/>
                                    <span class="help-block" th:if="${#fields.hasErrors('city')}">
                                        <ul>
                                            <li th:each="err : ${#fields.errors('city')}" th:text="${err}"/>
                                        </ul>
                                    </span>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
        </div>
    </div>
</div>

</form>
</div>
</div>
</div>
</body>
</html>